    <nav class="navbar navbar-expand-md">

        <div class="container-sm">

                <!-- navbar links -->
                <div class="collapse navbar-collapse justify-content-center align-center" id="main-nav">
                    <a class="navbar-brand" href="#cyberia">
                        cyberia
                    </a>

                    <ul class="navbar-nav align-items-center">
                        
                        <span class="d-none d-lg-block">[</span>
                        <li class="nav-item d-none d-lg-block"> 
                            <a class="nav-link"routerLink="/thread/tech">tech</a>
                        </li>
                        <span class="d-none d-lg-block">/</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" routerLink="/thread/cult">cult</a>
                        </li>
                        <span class="d-none d-lg-block">/</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" routerLink="/thread/art">art</a>
                        </li>
                        <span class="d-none d-lg-block">]</span>

                        <span class="d-none d-lg-block">&nbsp;&nbsp;</span>
                        
                        <span class="d-none d-lg-block">[</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link"routerLink="/thread/lambda">λ</a>
                        </li>
                        <span class="d-none d-lg-block">/</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" routerLink="/thread/delta">Δ</a>
                        </li>
                        <span class="d-none d-lg-block">]</span>
                        
                        <span class="d-none d-lg-block">&nbsp;&nbsp;</span>

                        <span class="d-none d-lg-block">[</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" routerLink="/thread/psy">psy</a>
                        </li>
                        <span class="d-none d-lg-block">]</span>
                        
                        <span class="d-none d-lg-block">&nbsp;&nbsp;</span>

                        <span class="d-none d-lg-block">[</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" routerLink="/thread/r">random</a>
                        </li>
                        <span class="d-none d-lg-block">]</span>

                        <span class="d-none d-lg-block">&nbsp;&nbsp;</span>

                        <span class="d-none d-lg-block">[</span>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" routerLink="/thread/all">all</a>
                        </li>
                        <span class="d-none d-lg-block">]</span>
                    </ul>

                    <span class="d-none d-lg-block">&nbsp;&nbsp;&nbsp;&nbsp;</span>

                    <img src="assets/ai.png" alt="serial experiments lain" width="50" height="43">
                </div>
            </div>
    </nav>
    