<div class="container-md my-5"> 
    <div class="row justify-content-center align-items-stretch mb-3"> <!-- align-items-stretch permette di avere l'altezza della riga per le colonne-->
        <div class="col-sm-3 text-center border-start border-success border-5" style="background: #0b0b0b; box-shadow: 3px 3px 0px #000000;">
            <div class="my-4">
            <p class="post">File: nomeFile.jpg</p>
            <img src="https://legacy.arisuchan.jp/tech/src/1568701889725.gif" alt="post-image" class="img-fluid" style="height:256px; width: 256px;">
        </div>
        </div>

        <div class="col-sm-8" style="background: #111111; box-shadow: 3px 3px 0px #000000;">
            <div class="m-3 post">
            <p class="fw-bold">Title + Name + Timestamp</p>
            <p>Text</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-stretch">
        <div class="col-sm-11" style="border: 1px solid #212121; background: #0b0b0b; box-shadow: 3px 3px 0px #000000; ">
            <div class="m-3 post">
                <p class="fw-bold">Title + Name + Timestamp</p>
                <p>Text</p>
                </div>
        </div>
    </div>
</div>
