<div class="container-lg">
    <form>
        <!-- Name -->
        <div class="form-group row text-center justify-content-center align-items-center mb-2">
            <label for="name" class="col-sm-1 col-form-label text-white">Name</label>
            <div class="col-sm-3">
              <input type="text" class="form-control-plaintext" id="name">
            </div>
          </div>

          <!-- Email -->
          <div class="form-group row text-center justify-content-center align-items-center mb-2">
            <label for="email" class="col-sm-1 col-form-label text-white">Email</label>
            <div class="col-sm-3">
              <input type="text" class="form-control-plaintext" id="email">
            </div>
          </div>

          <!-- Subject -->
          <div class="form-group row text-center justify-content-center align-items-center mb-2">
            <label for="subject" class="col-sm-1 col-form-label text-white">Subject</label>
            <div class="col-sm-3">
              <input type="text" class="form-control-plaintext" id="subject">
            </div>
          </div>

              <!-- Comment -->
              <div class="form-group row text-center justify-content-center align-items-center mb-2">
                <label for="comment" class="col-sm-1 col-form-label text-white">Comment</label>
                <div class="col-sm-3">
                  <textarea class="form-control" id="comment" rows="5"></textarea>
                </div>
              </div>
              

              <!-- File -->
              <div class="form-group row text-center justify-content-center align-items-center mb-4">
                <label for="file" class="col-sm-1 col-form-label text-white">File</label>
                <div class="col-sm-3">
                  <input type="file" class="form-control-file" id="file">
                </div>
              </div> 

              <!-- New Topic -->
              <div class="form-group row text-center justify-content-center align-items-center">
                <label for="file" class="col-sm-1 col-form-label text-white" hidden>File</label>
                <div class="col-sm-1">
                  <button type="submit" class="button">New Topic</button>
                </div>
              </div>   
          
    </form>
</div>
