<div class="container-fluid text-center" id="catalog-text">
  <h3>Catalog /tech/</h3>
</div>


<div class="container-lg">
    <div class="row text-center justify-content-center">
        <div class="col-sm-10">

            <div class="row justify-content-around align-items-center my-5">

                <div class="card" style="width: 208px; height: 258px;     background: #0b0b0b;
                font-weight: 400;
                box-shadow: 3px 3px 0px #000000; color: #949494;;">
    
                    <a href="https://legacy.arisuchan.jp/tech/src/1568701889725.gif"><img src="https://legacy.arisuchan.jp/tech/src/1568701889725.gif" class="card-img-top mt-2" alt="image" style="width: 176px; height: 100px; margin:auto;"></a>

                    <div class="card-body overflow-hidden">
                      <h5 class="card-title fw-bold" style="font-size: 1rem;">Card title</h5>
                      <p class="card-text" style="font-size: 0.8rem;">Some quick example text to build on the card title and make up the bulk of the card's contentaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqqqqqqqqqqq.</p>
                    </div>
                  </div>
    
                  <div class="card" style="width: 208px; height: 258px;     background: #0b0b0b;
                font-weight: 400;
                box-shadow: 3px 3px 0px #000000; color: #949494;;">
    
                    <a href="https://legacy.arisuchan.jp/tech/src/1568701889725.gif"><img src="https://legacy.arisuchan.jp/tech/src/1568701889725.gif" class="card-img-top mt-2" alt="image" style="width: 176px; height: 100px; margin:auto;"></a>

                    <div class="card-body overflow-hidden">
                      <h5 class="card-title fw-bold" style="font-size: 1rem;">Card title</h5>
                      <p class="card-text" style="font-size: 0.8rem;">Some quick example text to build on the card title and make up the bulk of the card's contentaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqqqqqqqqqqq.</p>
                    </div>
                  </div>
    
    
                  <div class="card" style="width: 208px; height: 258px;     background: #0b0b0b;
                font-weight: 400;
                box-shadow: 3px 3px 0px #000000; color: #949494;;">
    
                    <a href="https://legacy.arisuchan.jp/tech/src/1568701889725.gif"><img src="https://legacy.arisuchan.jp/tech/src/1568701889725.gif" class="card-img-top mt-2" alt="image" style="width: 176px; height: 100px; margin:auto;"></a>

                    <div class="card-body overflow-hidden">
                      <h5 class="card-title fw-bold" style="font-size: 1rem;">Card title</h5>
                      <p class="card-text" style="font-size: 0.8rem;">Some quick example text to build on the card title and make up the bulk of the card's contentaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqqqqqqqqqqq.</p>
                    </div>
                  </div>
    
    
                  <div class="card" style="width: 208px; height: 258px;     background: #0b0b0b;
                font-weight: 400;
                box-shadow: 3px 3px 0px #000000; color: #949494;;">
    
                    <a href="https://legacy.arisuchan.jp/tech/src/1568701889725.gif"><img src="https://legacy.arisuchan.jp/tech/src/1568701889725.gif" class="card-img-top mt-2" alt="image" style="width: 176px; height: 100px; margin:auto;"></a>

                    <div class="card-body overflow-hidden">
                      <h5 class="card-title fw-bold" style="font-size: 1rem;">Card title</h5>
                      <p class="card-text" style="font-size: 0.8rem;">Some quick example text to build on the card title and make up the bulk of the card's contentaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqqqqqqqqqqq.</p>
                    </div>
                  </div>


            </div>
        </div>
    </div>
</div>